<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40492511989-aos2annulo777eatbc1ntibemdh5koqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40492511989-aos2annulo777eatbc1ntibemdh5koqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDjvIJWsmxi4pBg9srJO1lNxHYN2-RdXhY</string>
	<key>GCM_SENDER_ID</key>
	<string>40492511989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jn.TranslatorsCom</string>
	<key>PROJECT_ID</key>
	<string>translatorsapp-ba57b</string>
	<key>STORAGE_BUCKET</key>
	<string>translatorsapp-ba57b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40492511989:ios:e4b79d428fe399cd8e0bbc</string>
</dict>
</plist>